@import "../../../Styles/Sizes";
@import "../../../Styles/Literals";
@import "../../../Styles/grid";

.card {
  width: 100%;
  border: size(extrasmall) solid white;
  background: #ffffff;
  box-shadow: size(verysmall) size(verysmall) size(small) size(small) skyblue;
  border-radius: size(extramedium);
}

.data {
  margin: size(verysmall);
}

.Header {
  position: Key(relative);
}

.circle {
  width: 60px;
  height: 60px;
  background-color: #447fa9;
  border-radius: 50%;
  position: Key(position);
  top: size(extralarge);
}

.circleData {
  text-align: Key(text-align);
  font-weight: 600;
  color: black;
  text-shadow: 1px 1px size(extrasmall) white;
  margin: size(verylarge) size(extramedium) size(verylarge) size(extramedium);
  @include grid-display(grid);
  padding: size(extralarge) size(verysmall) size(extralarge) size(verysmall);
  cursor: pointer;
}

.Subject {
  position: Key(position);
  bottom: 100px;
  margin: size(verylarge) auto;
  text-align: Key(text-align);
}

.Name {
  position: Key(position);
  bottom: 104px;
  margin: size(verylarge) auto;
  left: 64px;
  cursor: pointer;
}

.Date {
  position: Key(position);
  bottom: 124px;
  margin: size(verylarge) auto;
  left: 64px;
}

.Time {
  position: Key(position);
  bottom: 164px;
  margin: size(verylarge) auto;
  left: 168px;
}

.Recipient {
  position: Key(position);
  bottom: 184px;
  margin: size(verylarge) auto;
  left: 64px;
  cursor: pointer;
}

.CC {
  position: Key(position);
  bottom: 204px;
  margin: size(verylarge) auto;
  left: 64px;
}

.Text {
  position: Key(position);
  bottom: 172px;
  margin: size(verylarge) auto;
  left: 64px;
  cursor: pointer;
}

.Data {
  bottom: 140px;
  position: Key(position);
  left: 170px;
}

.Data::after {
  left: 120px;
  position: Key(position);
}

.footer {
  @include grid-display(grid);
  margin: size(verysmall) auto;
  left: 34px;
  position: Key(position);
  bottom: 60px;
}

.Salutation,
.SalutationName {
  float: left;
  position: Key(position);
}

.btn {
  left: size(extralarge);
  position: Key(position);
}

.Reply,
.ReplyAll,
.Forward {
  width: fit-content;
  height: 32px;
  color: white;
  background: #0078d4;
  margin: size(extramedium);
  border-radius: size(small);
  border: none;
  padding: 10px size(extramedium) size(extramedium) size(extramedium);
  cursor: pointer;
}
