@import "../../../Styles/Sizes";
@import "../../../Styles/Literals";
@import "../../../Styles/grid";
@import "../../../Styles/colors";

.inbox-main {
  width: 100%;
  border: size(extrasmall) solid color(white);
  background: color(white);
  box-shadow: size(verysmall) size(verysmall) size(small) size(small)
    color(skyblue);
  border-radius: size(extramedium);
}

.inbox-rows {
  width: 100%;
}

.inbox-grid-container {
  @include grid-display(grid);
  @include grid-templates(10% 60% auto auto auto auto, auto);
  grid-gap: size(verysmall);
  padding: size(extrasmall);
  box-shadow: size(verysmall) size(extrasmall) color(grey);
}

.inbox-check {
  @include grid-area(1, 1, 3, 1);
}

.inbox-sendername {
  @include grid-area(1, 2, 1, 2);
  left: size(extralarge);
  position: Key(position);
}

.inbox-subject {
  @include grid-area(2, 2, 2, 2);
  left: size(extralarge);
  position: Key(position);
}

.inbox-deleted {
  @include grid-area(2, 3, 2, 3);
  cursor: size(cursor);
}

.inbox-attachments {
  @include grid-area(2, 3, 2, 3);
}

.inbox-flag {
  @include grid-area(2, 4, 2, 4);
}

.inbox-time {
  @include grid-area(2, 5, 2, 5);
  color: color(gray);
  font-size: 14px;
}

.inbox-date {
  @include grid-area(2, 6, 2, 6);
  color: color(gray);
  font-size: 14px;
}

.inbox-header {
  @include grid-display(grid);
  @include grid-templates(33.33% 33.33% 33.33%, auto);
}

.inbox-checkbox {
  background-color: #e5e4e2;
  @include grid-area(1, 1, 1, 1);
}

.inbox-order {
  background-color: #e5e4e2;
  @include grid-area(1, 2, 1, 2);
}

.inbox-pagination {
  background-color: #e5e4e2;
  @include grid-area(1, 3, 1, 3);
}
