@import "../../Styles/Sizes";
@import "../../Styles/Literals";
@import "../../Styles/grid";
@import "../../Styles/colors";

$height: 80px;
$width: 100%;

.header-component {
  @include grid-display(grid);
  @include grid-area(1, 1, 1, 4);
  width: $width;
}

.header {
  margin: size(verysmall);
  height: $height;
  @include grid-display(grid);
  @include grid-area(1, 1, 1, 5);
  @include grid-templates(15% 30% auto 20% 8%, 100%);
  background: color(sky);
  width: auto;
}

.header-rightlist {
  list-style-type: Key(list-style-type);
  color: color(white);
  margin-top: size(extramedium);
  cursor: Key(cursor);
}

.header-account-icon {
  @include grid-area(1, 5, 1, 5);
  list-style-type: Key(list-style-type);
  color: color(white);
  margin-top: size(large);
  cursor: Key(cursor);
}

.header-icons {
  left: size(big) + size(medium);
  position: Key(position);
  margin-top: size(medium);
  @include grid-display(grid);
  @include grid-area(1, 4, 1, 4);
  @include grid-templates(15% 15% 15% 15% 15%, 100%);
  cursor: Key(cursor);
}

.header-name {
  margin-top: size(large);
  right: size(large);
  position: Key(position);
}

.header-input-field {
  @include grid-display(grid);
}

.header-app-icon {
  top: size(small) + size(extrasmall);
  position: Key(position);
  margin-right: size(extralarge);
}

input[type="search"] {
  color: color(sky);
  width: $width;
  height: size(verylarge) + size(medium);
  background: color(blue);
  border-radius: size(small);
  outline: Key(outline);
  border: Key(border);
  padding-left: size(verylarge) + size(extramedium);
  right: size(verylarge) + size(medium);
  @include grid-area(1, 1, 4, 4);
  top: size(small);
  position: Key(position);
  cursor: Key(cursor);
}

.header-search-icon {
  top: size(medium) + size(extrasmall);
  right: size(verylarge) + size(medium);
  position: Key(position);
  color: color(sky);
  @include grid-area(1, 1, 1, 1);
  cursor: Key(cursor);
}

.header-settingDropdown {
  color: red;
  background-color: grey;
  height: 100px;
  width: 70px;
}

.header-profileDropdown {
  // font-size: 30px;
  // background-color: grey;
  // height: 180px;
  // width: 70px;
}

.dropdown {
  width: 100px;
}
.dropdown .item {
  display: none;
}

.dropdown:hover .item {
  display: block;
}
