@import "../../../Styles/Sizes";
@import "../../../Styles/Literals";
@import "../../../Styles/grid";

.reactsvg {
  height: 100px;
  width: 100px;
  border: 1px solid black;

  .reactsvg:hover {
    background-color: blueviolet;
    fill: red;
    color: aquamarine;
  }
}

.svg {
  width: 70px;
  height: 70px;

  :hover {
    fill: red;
  }
}
