<<<<<<< HEAD
=======
.DeletedComponent {
}

>>>>>>> f440dd714fae1ec1d3145ce8f2912d4f03d51eac
.reactsvg {
  height: 100px;
  width: 100px;
  border: 1px solid black;
<<<<<<< HEAD

  .reactsvg:hover {
    background-color: blueviolet;
    fill: red;
    color: aquamarine;
  }
=======
}
.reactsvg:hover {
  background-color: blueviolet;
  fill: red;
  color: aquamarine;
>>>>>>> f440dd714fae1ec1d3145ce8f2912d4f03d51eac
}

.svg {
  width: 70px;
  height: 70px;
<<<<<<< HEAD

  :hover {
    fill: red;
  }
=======
}
.svg:hover {
  fill: red;
}

svg {
  border: 1px solid #aaa;
>>>>>>> f440dd714fae1ec1d3145ce8f2912d4f03d51eac
}
