@import "../../Styles/colors.scss";
@import "../../Styles/Sizes";
@import "../../Styles/Literals";
@import "../../Styles/grid";

$width: 100%;
$height: 380px;

@mixin h1 {
  font-family: Key(font-family);
  text-align: Key(text-align);
}

h1 {
  @include h1;
}

.login-container {
  width: $width - 80%;
  min-height: $height;
  border: size(extrasmall) solid color(white);
  margin: size(verylarge) auto;
  background: color(white);
  box-shadow: size(verysmall) size(verysmall) size(small) 6px
    color(box-shadow-color);
  border-radius: size(extramedium);
  @include grid-display(block);
}

.login-input-fields {
  width: $width - 35%;
  outline: Key(outline);
  border: Key(border);
  border-radius: size(verysmall);
  background: color(fields-color);
  //box-shadow: inset size(verysmall) size(verysmall) size(verysmall) size(medium) white;
  padding: size(large);
  margin: size(extramedium) auto;
  @include grid-display(block);
}

@mixin login-button {
  width: $width - 23%;
  padding: size(large);
  outline: Key(outline);
  border: Key(border);
  border-radius: size(verysmall);
  margin: size(extramedium) auto;
  color: color(white);
  @include grid-display(block);
  background-color: color(blue);
}

.login-button {
  @include login-button;

  &:active {
    padding: size(verylarge);
    box-shadow: inset size(verysmall) size(verysmall) size(verysmall)
        size(medium) color(blue),
      inset size(verysmall) size(verysmall) size(medium) size(medium)
        color(white);
  }
}

@mixin login-span {
  text-align: Key(text-align);
  color: color(blue);
  margin: size(verysmall) auto;
  @include grid-display(block);
}

.login-span {
  @include login-span;
}
