@import "../../Styles/Literals";
@import "../../Styles/Sizes";

$font-size: 400px;

.sidebar-icons {
  right: size(verylarge) + size(medium);
  top: size(small) + size(extrasmall);
  position: Key(position);
  color: white;
  font-size: $font-size;
}
