@import "./Sidebar-Icons";
@import "../../Styles/Sizes";
@import "../../Styles/Literals";
@import "../../Styles/grid";

$height: 540px;

$sidebar-colors: (
  Bg-color: #18a0fb,
  shadowBackground: black,
  activeShadowBackground: white,
);

.main {
  @include grid-display(grid);
  @include grid-templates(12% 50% auto, auto);
  width: 100%;
  //grid-template-columns: 12% 50% auto;
}

.listItems {
  background: map-get($sidebar-colors, Bg-color);
  height: $height;
  position: Key(relative);
  list-style-type: Key(list-style-type);
  margin-top: size(small);
  margin-bottom: size(verysmall);
}

.li {
  padding: size(extralarge) size(extramedium);
  text-shadow: size(verysmall) size(extrasmall) size(extrasmall)
    map-get($sidebar-colors, shadowBackground);

  &:active {
    box-shadow: size(verysmall) size(small)
      map-get($sidebar-colors, activeShadowBackground);
  }
}

@mixin listitem($color) {
  right: size(extralarge);
  position: Key(position);
  text-decoration: none;
  color: $color;
}

.listItem {
  @include listitem(white);
}

.Component {
  grid-area: 2/2/2/3;
  margin-top: size(large);
  margin-left: size(large);
}
