.main {
  display: grid;
  grid-template-columns: 12% 50% auto;
}

.listItems {
  background: #18a0fb;
  height: 540px;
  list-style-type: none;
  margin-top: 4px;
  margin-bottom: 0;
}

.li {
  list-style-type: none;
  padding: 20px 12px;
  text-shadow: 0 2px 2px black;
  :active {
    box-shadow: 0 4px white;
  }
}

.listItem {
  right: 20px;
  position: relative;
  color: white;
  text-decoration: none;
}

.Component {
  grid-area: 2/2/2/3;
  margin-top: 16px;
  margin-left: 16px;
}

.Sidebar-Icons {
  right: 32px;
  top: 6px;
  position: relative;
  color: white;
  font-size: 400px;
}

.SendRoundedIcon:hover {
  fill: green;
}

.SendRoundedIcon {
  width: 400px;
  height: 200px;
}
