@import "../../Styles/Sizes";
@import "../../Styles/Literals";
@import "../../Styles/grid";
@import "../LoginComponent/LoginComponent.scss";

h1 {
  @include h1;
}

#name,
#password,
#email,
#confirmPassword {
  width: 65%;
  outline: Key(outline);
  border: Key(border);
  border-radius: size(verysmall);
  background: #ced1dd;
  //box-shadow: inset size(verysmall) size(verysmall) size(verysmall) size(medium) white;
  padding: size(large);
  margin: size(extramedium) auto;
  @include grid-display(block);
}

#Login,
#SignUp {
  @include login-button;
}

.Span {
  @include login-span;
}

.ancestor {
  text-decoration: none;
  color: blue;
  text-align: Key(text-align);
  cursor: Key(cursor);
  margin: size(verysmall) auto;
  @include grid-display(block);
}
