@import "../../Styles/Sizes";
@import "../../Styles/Literals";
@import "../../Styles/grid";
@import "../LoginComponent/LoginComponent.scss";

h1 {
  @include h1;
}

.signup-container {
  width: $width - 80%;
  min-height: $height;
  border: size(extrasmall) solid color(white);
  margin: size(verylarge) auto;
  background: color(white);
  box-shadow: size(verysmall) size(verysmall) size(small) 6px
    color(box-shadow-color);
  border-radius: size(extramedium);
  @include grid-display(block);
}
.signup-input-fields {
  width: 65%;
  outline: Key(outline);
  border: Key(border);
  border-radius: size(verysmall);
  background: #ced1dd;
  //box-shadow: inset size(verysmall) size(verysmall) size(verysmall) size(medium) white;
  padding: size(large);
  margin: size(extramedium) auto;
  @include grid-display(block);
}

.signup-button {
  @include login-button;

  &:active {
    padding: size(verylarge);
    box-shadow: inset size(verysmall) size(verysmall) size(verysmall)
        size(medium) color(blue),
      inset size(verysmall) size(verysmall) size(medium) size(medium)
        color(white);
  }
}

.signup-span {
  @include login-span;
}

.signup-ancestor {
  text-decoration: none;
  color: blue;
  text-align: Key(text-align);
  cursor: Key(cursor);
  margin: size(verysmall) auto;
  @include grid-display(block);
}
